&
    float left
    width (970px - 220px)
    height windowHeight
    overflow auto
    .content
        position relative
        margin-left 8px
        margin-top 7px
    .page
        position absolute
        margin 10px
        outline 1px solid #aaa
        transition top 0.8s, left 0.8s, opacity 0.8s
        &:hover
            cursor pointer
            img
                opacity 0.6
            outline 1px solid HNLink

        &.fadingOut
        &.fadingIn
            opacity 0
