&
    float left
    width (970px - 230px)
    margin-left 8px
    margin-top 7px
    height windowHeight
    overflow auto
    position relative
    .page
        position absolute
        float left
        margin 10px
        outline 1px solid #aaa
        transition top 0.8s, left 0.8s, opacity 0.8s
        &:hover
            cursor pointer
            img
                opacity 0.6
            outline 1px solid HNLink

        &.fadingOut
        &.fadingIn
            opacity 0
